<h1>Listing directories</h1>

<% if @isScanning %>
  <script type="text/javascript" language="javascript">
    setTimeout("location.reload()",10000);
  </script>
<% end %>

<p>
  <% if @isScanning %>
    Now is scanning directory...
  <% else %>
    <%= link_to 'Scan Directory', [ :scan, :directories ], :method => :post %>
  <% end %>
</p>

<table>
  <tr>
    <th>Path</th>
    <th>Modified at</th>
    <th></th>
  </tr>

<% @directories.each do |directory| %>
  <tr>
    <td><%= directory.path %></td>
    <td><%= directory.modified_at.getlocal %></td>
    <% if directory.is_ready_for_detail %>
      <td><%= link_to 'Show', [ directory, :photos ] %></td>
    <% else %>
      <td>loading...</td>
    <% end %>
  </tr>
<% end %>
</table>

