<%- model_class = Photo.new.class -%>
<div class="row-fluid">
  <div class="span2" style="height:500px;overflow:scroll;">
    <% if @basket %>
      <ul>
        <li><%= link_to "Download",
                  {:controller => "baskets", :action => "download", :id => @basket},
                  {:confirm => "Are you sure you would like to download all photos in this basket?", :method => "post"} %></li>
	<li>Drop this basket</li>
      </ul>
    <% else %>
      <h2>Baskets</h2>
      <ul>
	<% @baskets.each do |basket| %>
	  <li class="basket-in-list" id="basket<%= basket.id %>"><%= link_to basket.name, [ basket, :photos ] %></li>
	<% end %>
      </ul>
    <% end %>
  </div>
  <div class="span10">
    <%= render 'list' %>

  </div>
</div>
