div {
  #wrapper {
    margin: 10px auto;
    background-color: #fff; }
  #header, #footer {
    font-size: 9px;
    color: #666;
    margin: 5px;
    padding: 5px; }
  #footer {
    text-align: center; }
  #contents {
    background-color: #fff;
    color: #333;
    margin: 5px;
    padding: 5px;
    border: solid 1px #ccc; } }
